main, footer{
    padding: 0px 20px;
}
#logo{
    padding:10px 40px 0px 40px;
} 
.resize-img{
    width: 100%;
}
.left-float{
    float: none;
}
.burger {
    display: none;
}
nav > ul{
    padding: 0px 50px;
    margin: 0;
    display: block;
}
nav > ul > li{
    display:block;
    float: right;
    text-align: end;
    padding: 0px 10px;
    border: none;
    border-right: 1px solid #fff;
    color: #fff;
    font-size: larger;
}
nav li a{
    text-decoration: none;
    color: #000;
}
nav li a:hover{
    color: #fff;
}